.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 75px;
}

.tags__link {
    color: rgba(34, 68, 204, 1);
    line-height: 24px;
    font-family: 'Roboto-Regular', arial;
    font-weight: 400;
    font-size: 16px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .tags__link {
        font-size: 14px;
    }
}

@media (max-width: 645px) {
    .tags__link {
        font-size: 12px;
    }
}

@media (max-width: 446px) {
    .tags__link {
        font-size: 11px;
    }
}

@media (max-width: 376px) {
    .tags__link {
        font-size: 16px;
        line-height: 24px;
    }
}
